.sideMenu{
    background-color: var(--bg300);
    .tab{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        svg{
            margin-right: 25px;
        }
    }
    .logoutWrapper{
        position: absolute;
        bottom: 0;
        margin-bottom: 30px;
        border-radius: var(--borderRadius);
        transition: var(--transition);
        color: var(--text200);
        padding: 10px 20px;
        cursor: pointer;
        &:hover{
            background-color: var(--bg100);
        }
    }
}

.addAssets{
    .assetModal{
        div:nth-of-type(1){
            width: 100% !important;
        } 
    }
}

.assetsGrid{
    --min: 30ch!important;
    img{
        background-color: var(--bg200)!important;
    }
}